# === 日誌檔 ===
logs/
*.log
npm-debug.log*

# === Node modules ===
node_modules/

# === Build 輸出 ===
dist/
dist-ssr/
.output/
.vitepress/

# === 環境設定檔 ===
.env
.env.*.local
*.local
.env.production.local

# === 編輯器/系統相關檔 ===
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

