@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂組件 */
@layer components {
  .center-xy {
    @apply flex justify-center items-center;
  }
  .center-x {
    @apply flex justify-center;
  }
  .center-y {
    @apply flex items-center;
  }
}

.el-message {
  min-width: 80vw !important; /* 手機時寬度佔螢幕80% */
  max-width: 90vw !important;
}
@media (min-width: 640px) {
  .el-message {
    min-width: 380px !important; /* 桌機維持預設 */
    max-width: 500px !important;
  }
}
